## Basic Operations in Pandas

In [1]:
# Import pandas numpy and pandas library
import numpy as np
import pandas as pd

## Read CSV/Excel file

In [3]:
df= pd.read_csv(r"C:\Users\hp\OneDrive\Desktop\Python Learning\Iris.csv")

In [5]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [7]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [8]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [9]:
df.axes

[RangeIndex(start=0, stop=150, step=1),
 Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
        'Species'],
       dtype='object')]

In [10]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [11]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
Id,1,2,3,4,5,6,7,8,9,10,...,141,142,143,144,145,146,147,148,149,150
SepalLengthCm,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
SepalWidthCm,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
PetalLengthCm,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
PetalWidthCm,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
Species,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

## Slicing methods

In [17]:
df[0:8][[ 'SepalLengthCm','PetalWidthCm']]

   SepalLengthCm  PetalWidthCm
0            5.1           0.2
1            4.9           0.2
2            4.7           0.2
3            4.6           0.2
4            5.0           0.2
5            5.4           0.4
6            4.6           0.3
7            5.0           0.2

In [18]:
# Slicing by loc method

In [19]:
df.loc[3:7, 'SepalLengthCm':'PetalWidthCm']

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2
5            5.4           3.9            1.7           0.4
6            4.6           3.4            1.4           0.3
7            5.0           3.4            1.5           0.2

## Sorting method

In [20]:
df.sort_index(axis=1)

,Id,PetalLengthCm,PetalWidthCm,SepalLengthCm,SepalWidthCm,Species
0,1,1.4,0.2,5.1,3.5,Iris-setosa
1,2,1.4,0.2,4.9,3.0,Iris-setosa
2,3,1.3,0.2,4.7,3.2,Iris-setosa
3,4,1.5,0.2,4.6,3.1,Iris-setosa
4,5,1.4,0.2,5.0,3.6,Iris-setosa
...,...,...,...,...,...,...
145,146,5.2,2.3,6.7,3.0,Iris-virginica
146,147,5.0,1.9,6.3,2.5,Iris-virginica
147,148,5.2,2.0,6.5,3.0,Iris-virginica
148,149,5.4,2.3,6.2,3.4,Iris-virginica
149,150,5.1,1.8,5.9,3.0,Iris-virginica

In [24]:
# For sorting row we have to select one coloum
df1 = pd.read_csv(r"C:\Users\hp\OneDrive\Desktop\Python Learning\Iris.csv",index_col='SepalLengthCm')
df1.head()

               Id  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
SepalLengthCm
5.1             1           3.5            1.4           0.2  Iris-setosa
4.9             2           3.0            1.4           0.2  Iris-setosa
4.7             3           3.2            1.3           0.2  Iris-setosa
4.6             4           3.1            1.5           0.2  Iris-setosa
5.0             5           3.6            1.4           0.2  Iris-setosa

In [25]:
df1.sort_index(axis=0)

                Id  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
SepalLengthCm
4.3             14           3.0            1.1           0.1     Iris-setosa
4.4             43           3.2            1.3           0.2     Iris-setosa
4.4             39           3.0            1.3           0.2     Iris-setosa
4.4              9           2.9            1.4           0.2     Iris-setosa
4.5             42           2.3            1.3           0.3     Iris-setosa
...            ...           ...            ...           ...             ...
7.7            123           2.8            6.7           2.0  Iris-virginica
7.7            119           2.6            6.9           2.3  Iris-virginica
7.7            118           3.8            6.7           2.2  Iris-virginica
7.7            136           3.0            6.1           2.3  Iris-virginica
7.9            132           3.8            6.4           2.0  Iris-virginica

[150 rows x 5 columns]

In [26]:
# By using sorting method we can get sorted table 
# But when we call dataframe again we get old table
# So for that we have to use 'inplace' to change table

In [33]:
df.sort_index(axis=1,inplace=True)
df

     PetalLengthCm  PetalWidthCm  SepalLengthCm  SepalWidthCm         Species
Id
1              1.4           0.2            5.1           3.5     Iris-setosa
2              1.4           0.2            4.9           3.0     Iris-setosa
3              1.3           0.2            4.7           3.2     Iris-setosa
4              1.5           0.2            4.6           3.1     Iris-setosa
5              1.4           0.2            5.0           3.6     Iris-setosa
..             ...           ...            ...           ...             ...
146            5.2           2.3            6.7           3.0  Iris-virginica
147            5.0           1.9            6.3           2.5  Iris-virginica
148            5.2           2.0            6.5           3.0  Iris-virginica
149            5.4           2.3            6.2           3.4  Iris-virginica
150            5.1           1.8            5.9           3.0  Iris-virginica

[150 rows x 5 columns]

In [28]:
# we can short vales also
df.sort_values('SepalLengthCm')

     PetalLengthCm  PetalWidthCm  SepalLengthCm  SepalWidthCm         Species
Id
14             1.1           0.1            4.3           3.0     Iris-setosa
43             1.3           0.2            4.4           3.2     Iris-setosa
39             1.3           0.2            4.4           3.0     Iris-setosa
9              1.4           0.2            4.4           2.9     Iris-setosa
42             1.3           0.3            4.5           2.3     Iris-setosa
..             ...           ...            ...           ...             ...
123            6.7           2.0            7.7           2.8  Iris-virginica
119            6.9           2.3            7.7           2.6  Iris-virginica
118            6.7           2.2            7.7           3.8  Iris-virginica
136            6.1           2.3            7.7           3.0  Iris-virginica
132            6.4           2.0            7.9           3.8  Iris-virginica

[150 rows x 5 columns]

In [34]:
# We can also sort values in decending order
df.sort_values('SepalLengthCm',ascending=False)

     PetalLengthCm  PetalWidthCm  SepalLengthCm  SepalWidthCm         Species
Id
132            6.4           2.0            7.9           3.8  Iris-virginica
136            6.1           2.3            7.7           3.0  Iris-virginica
123            6.7           2.0            7.7           2.8  Iris-virginica
118            6.7           2.2            7.7           3.8  Iris-virginica
119            6.9           2.3            7.7           2.6  Iris-virginica
..             ...           ...            ...           ...             ...
42             1.3           0.3            4.5           2.3     Iris-setosa
43             1.3           0.2            4.4           3.2     Iris-setosa
39             1.3           0.2            4.4           3.0     Iris-setosa
9              1.4           0.2            4.4           2.9     Iris-setosa
14             1.1           0.1            4.3           3.0     Iris-setosa

[150 rows x 5 columns]

In [35]:
# Suppose we have our old data frame so we can reset that by using reset function
df.reset_index()

,Id,PetalLengthCm,PetalWidthCm,SepalLengthCm,SepalWidthCm,Species
0,1,1.4,0.2,5.1,3.5,Iris-setosa
1,2,1.4,0.2,4.9,3.0,Iris-setosa
2,3,1.3,0.2,4.7,3.2,Iris-setosa
3,4,1.5,0.2,4.6,3.1,Iris-setosa
4,5,1.4,0.2,5.0,3.6,Iris-setosa
...,...,...,...,...,...,...
145,146,5.2,2.3,6.7,3.0,Iris-virginica
146,147,5.0,1.9,6.3,2.5,Iris-virginica
147,148,5.2,2.0,6.5,3.0,Iris-virginica
148,149,5.4,2.3,6.2,3.4,Iris-virginica
149,150,5.1,1.8,5.9,3.0,Iris-virginica

In [42]:
# And suppose we call dataframe again it will show us changes DF 
# So we have to use 'inplace = true'

df.reset_index(inplace=True)

In [41]:
df

,Id,PetalLengthCm,PetalWidthCm,SepalLengthCm,SepalWidthCm,Species
0,1,1.4,0.2,5.1,3.5,Iris-setosa
1,2,1.4,0.2,4.9,3.0,Iris-setosa
2,3,1.3,0.2,4.7,3.2,Iris-setosa
3,4,1.5,0.2,4.6,3.1,Iris-setosa
4,5,1.4,0.2,5.0,3.6,Iris-setosa
...,...,...,...,...,...,...
145,146,5.2,2.3,6.7,3.0,Iris-virginica
146,147,5.0,1.9,6.3,2.5,Iris-virginica
147,148,5.2,2.0,6.5,3.0,Iris-virginica
148,149,5.4,2.3,6.2,3.4,Iris-virginica
149,150,5.1,1.8,5.9,3.0,Iris-virginica

In [44]:
df.reset_index()

,level_0,index,Id,PetalLengthCm,PetalWidthCm,SepalLengthCm,SepalWidthCm,Species
0,0,0,1,1.4,0.2,5.1,3.5,Iris-setosa
1,1,1,2,1.4,0.2,4.9,3.0,Iris-setosa
2,2,2,3,1.3,0.2,4.7,3.2,Iris-setosa
3,3,3,4,1.5,0.2,4.6,3.1,Iris-setosa
4,4,4,5,1.4,0.2,5.0,3.6,Iris-setosa
...,...,...,...,...,...,...,...,...
145,145,145,146,5.2,2.3,6.7,3.0,Iris-virginica
146,146,146,147,5.0,1.9,6.3,2.5,Iris-virginica
147,147,147,148,5.2,2.0,6.5,3.0,Iris-virginica
148,148,148,149,5.4,2.3,6.2,3.4,Iris-virginica
149,149,149,150,5.1,1.8,5.9,3.0,Iris-virginica

In [45]:
# After reseting data we can get new DF which showing new coloumn 
#that is index coloumn
# to remove that coloumn we have to use drop function

df.reset_index(drop=True)

,index,Id,PetalLengthCm,PetalWidthCm,SepalLengthCm,SepalWidthCm,Species
0,0,1,1.4,0.2,5.1,3.5,Iris-setosa
1,1,2,1.4,0.2,4.9,3.0,Iris-setosa
2,2,3,1.3,0.2,4.7,3.2,Iris-setosa
3,3,4,1.5,0.2,4.6,3.1,Iris-setosa
4,4,5,1.4,0.2,5.0,3.6,Iris-setosa
...,...,...,...,...,...,...,...
145,145,146,5.2,2.3,6.7,3.0,Iris-virginica
146,146,147,5.0,1.9,6.3,2.5,Iris-virginica
147,147,148,5.2,2.0,6.5,3.0,Iris-virginica
148,148,149,5.4,2.3,6.2,3.4,Iris-virginica
149,149,150,5.1,1.8,5.9,3.0,Iris-virginica